McMAJaS is a MATLAB - JavaScript translator based on McLab, a research project from the Sable research group at McGill University.
<p>
Please click one of the MATLAB programs from the menu.
</p>
<br/><br/>
by Budi Kurniawan
<br/><br/>
Mentor: Xu Li
<br/><br/>
April 2013